@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.metrics {
  @include flexbox.flexbox(between, start);
  flex-direction: column;
  animation: fadein 700ms;
  animation-delay: 100ms;

  .metric {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 36px;
    color: colors.$METRICS_FONT_COLOR;
    letter-spacing: -1px;
    list-style-type: none;
  }
}
